.dashboard {
    background-color: whitesmoke;
    width: 538px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.default-expense {
    justify-content: center !important;
    align-items: center !important;
    font-size: larger;
}