.groups{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    background-color: whitesmoke;
    width: 75px;
    height: calc(100vh - 56px);
    position: fixed;
}