.friend {
  display: flex;
  width: 55px;
  justify-content: center;
  align-items: center;
  background-color: #adadad;
  border-radius: 50%;
  aspect-ratio: 1;
}

.tooltip-friend {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-friend .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: -130px;
  z-index: 1;
}

.tooltip-friend:hover .tooltiptext {
  visibility: visible;
}